policy_module(amazon_ecs_volume_plugin, 1.0.0)

########################################
#
# Declarations
#

type amazon_ecs_volume_plugin_t;
type amazon_ecs_volume_plugin_exec_t;
init_daemon_domain(amazon_ecs_volume_plugin_t, amazon_ecs_volume_plugin_exec_t)

permissive amazon_ecs_volume_plugin_t;

type amazon_ecs_volume_plugin_cache_t;
files_type(amazon_ecs_volume_plugin_cache_t)

type amazon_ecs_volume_plugin_var_lib_t;
files_type(amazon_ecs_volume_plugin_var_lib_t)

type amazon_ecs_volume_plugin_unit_file_t;
systemd_unit_file(amazon_ecs_volume_plugin_unit_file_t)

########################################
#
# amazon_ecs_volume_plugin local policy
#
allow amazon_ecs_volume_plugin_t self:fifo_file rw_fifo_file_perms;
allow amazon_ecs_volume_plugin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(amazon_ecs_volume_plugin_t, amazon_ecs_volume_plugin_cache_t, amazon_ecs_volume_plugin_cache_t)
manage_files_pattern(amazon_ecs_volume_plugin_t, amazon_ecs_volume_plugin_cache_t, amazon_ecs_volume_plugin_cache_t)
manage_lnk_files_pattern(amazon_ecs_volume_plugin_t, amazon_ecs_volume_plugin_cache_t, amazon_ecs_volume_plugin_cache_t)
files_var_filetrans(amazon_ecs_volume_plugin_t, amazon_ecs_volume_plugin_cache_t, { dir file lnk_file })

manage_dirs_pattern(amazon_ecs_volume_plugin_t, amazon_ecs_volume_plugin_var_lib_t, amazon_ecs_volume_plugin_var_lib_t)
manage_files_pattern(amazon_ecs_volume_plugin_t, amazon_ecs_volume_plugin_var_lib_t, amazon_ecs_volume_plugin_var_lib_t)
manage_lnk_files_pattern(amazon_ecs_volume_plugin_t, amazon_ecs_volume_plugin_var_lib_t, amazon_ecs_volume_plugin_var_lib_t)
files_var_lib_filetrans(amazon_ecs_volume_plugin_t, amazon_ecs_volume_plugin_var_lib_t, { dir file lnk_file })

domain_use_interactive_fds(amazon_ecs_volume_plugin_t)

files_read_etc_files(amazon_ecs_volume_plugin_t)

miscfiles_read_localization(amazon_ecs_volume_plugin_t)


require {
	type container_plugin_var_run_t;
	class sock_file { create setattr unlink };
	class dir { add_name getattr remove_name write };
}


#============= amazon_ecs_volume_plugin_t ==============
allow amazon_ecs_volume_plugin_t container_plugin_var_run_t:dir { add_name getattr remove_name write };
allow amazon_ecs_volume_plugin_t container_plugin_var_run_t:sock_file { create setattr unlink };
auth_read_passwd(amazon_ecs_volume_plugin_t)
dev_read_sysfs(amazon_ecs_volume_plugin_t)
kernel_read_net_sysctls(amazon_ecs_volume_plugin_t)
kernel_search_network_sysctl(amazon_ecs_volume_plugin_t)
logging_manage_generic_logs(amazon_ecs_volume_plugin_t)
vmware_filetrans_content(amazon_ecs_volume_plugin_t)
